<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>
 Sahil Nolia Bots
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
    background: black;
    font-family: Macondo;
    font-size: 24px;
		</style>


<body>

<hr style="width:100%;">
<center><h4 style="text-align : center;"><font color="white"><i class="fas fa-bullhorn"></i>Stream BOT By Sahil</font></h4><font color="white">
<hr style="width:100%;">



<a href="intent:{{linkx}}#Intent;package=com.playit.videoplayer;end">
<input type="button" value="PLAYit" style="border: 1px solid chartreuse;color: #fff;border-radius: 55px;padding: 13px 25px;font-size: 17px;font-weight: bold;margin-left: -3px;margin-top: 10px;background-color: chartreuse;color:chartreuse;background: none;"> </a>
<br>
<br>


<a href="intent:{{linkx}}#Intent;package=com.mxtech.videoplayer.ad;end">
<input type="button" value="MX-Player" style="border: 1px solid orange;color: #fff;border-radius: 55px;padding: 13px 25px;font-size: 17px;font-weight: bold;margin-left: -3px;margin-top: 10px;background-color: orange;color: orange;background: none;"> </a>

<br>
<br>
<a href="{{linkx}}">
<input type="button" value="Download" style="border: 1px solid deeppink;color: #fff;border-radius: 55px;padding: 13px 25px;font-size: 17px;font-weight: bold;margin-left: -3px;margin-top: 10px;background-color: deeppink;color:deeppink;background: none;"> </a>
<br>
<br>
<a href="nplayer-{{linkx}}">
<input type="button" value="Stream" style="border: 1px solid aqua;color: #fff;border-radius: 55px;padding: 13px 25px;font-size: 17px;font-weight: bold;margin-left: -3px;margin-top: 10px;background-color: aqua;color:aqua;background: none;"> </a>

<hr style="width:100%;">


</body>
</html>
